@page "/admin-dashboard"
@rendermode InteractiveServer

<h2 class="mt-4 text-center">Admin Dashboard</h2>

<div class="container mt-5">
    <div class="card shadow p-4 rounded-4">
        <h4>Welcome Admin 👑</h4>
        <p>You are successfully logged in as Admin.</p>
    </div>
</div>