@page "/contact"

<div class="contact-page">

    <!-- HERO -->
    <div class="contact-hero">
        <div class="overlay">
            <h1>Contact Us</h1>
        </div>
    </div>

    <!-- CONTACT SECTION -->
    <div class="contact-section">
        <div class="contact-container">

            <!-- LEFT -->
            <div class="contact-left">

                <div class="contact-item">
                    <img src="/images/loc.png" />
                    <p>
                        MQube Tuitions, 3/6, Ganapathy Nagar,<br />
                        L.Poongulam, Madurai - 20
                    </p>
                </div>

                <div class="contact-item">
                    <img src="/images/mbl.png" />
                    <p>+91 7397554929</p>
                </div>

                <div class="contact-item">
                    <img src="/images/msg.png" />
                    <p>mqubetuitions@gmail.com</p>
                </div>

                <div class="contact-item">
                    <img src="/images/int.png" />
                    <p>www.mqubetuitions.com</p>
                </div>

            </div>

            <!-- RIGHT -->
            <div class="contact-right">
                <img src="/images/map.png" />
            </div>

        </div>
    </div>

</div>
